* {
    margin: 0;
    padding: 0;
}
#main {
    display: flex;
    justify-content: center;
    width:auto;
    height:auto;
    background-color: hsl(212, 45%, 89%);
}
#box {
    width: 21rem;
    height: 30rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    text-align: center;
}
#image {
    background-image: url("./images/image-qr-code.png");
    width: 19rem;
    height: 20rem;
    background-size: cover;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 5%;
}
h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    margin-bottom: 1.75rem;
    color: hsl(218, 44%, 22%);
}
p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: hsl(216, 15%, 48%);
}